<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Tumblr SDK for PHP - Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="America/New_York"/>
        <const name="API_KEY" value="the testing consumer key"/>
    </php>
</phpunit>
