<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHP Tumblr SDK - Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./coverage" highlight="true"/>
    </logging>
</phpunit>
