<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Tumblr SDK for PHP - Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./coverage" highlight="true"/>
    </logging>
</phpunit>
